<div class = "header">
  <%= link_to "YusukePortfolio", root_path, class:"header__title" %>
</div>
<div class = "navigation">
  <ul>
    <li><a href = "#profile">プロフィール</a></li>
    <li><a href = "#production">製作物</a></li>
    <li><a href = "#skill">スキル</a></li>
  </ul>
</div>

<div class = "reason">
  <p>たった一つの動画が約2万再生を記録した
    <br>パソコン一つで色んな人の感動を生んだ
    <br>パソコンで何かを作る人になりたいと強く思うようになった
    <br>WEBページを教えてもらった時
    <br>世界が変わるような衝撃を受けた
    <br>そこから僕はエンジニアを目指すきっかけとなった
  </p>
  <video src="/video/LuRjPEcQ8sJjImDw.mp4" loop autoplay muted></video>
</div>

<div class = "profile">
  <div class = "profile__bar">
    <h1>プロフィール</h1>
  </div>
  <img src ="image/1583241690590.jpeg" class = "profile__image">
  <h2>浦 佑輔</h2>
  <h3>徳島出身 1993年生まれ</h3>
  <p>
    イベント会社へ入社 ➡︎ あすたむらんど徳島 イベント企画担当 
    <br>➡︎ TECH CAMP 短期集中コース 76期生として入学 ➡︎ アジャイル開発のスクラムマスター担当
    <br> ➡︎【2020年6月26日】 TECH CAMP 短期集中コース 卒業
  </p>
</div>

<div class = "production">
  <div class = "production__bar">
    <h1>製作物</h1>
  </div>
  <div class ="production__list">
    <ul>
      <li>
        <h2>blue_blog</h2>
        <%= image_tag "/image/blue_blog.jpg" %>
        <p>
          自分専用のブログサイト
          <br>仮完成の状態で今後、改善していきます
        </p>
        <%= link_to "GitHub","https://github.com/urayusuke/blue_blog",class:"production__list-link" %>
        <%= link_to "blue_blog","http://54.248.170.87/",class:"production__list-link1" %>
      </li>
      <li>
        <h2>Tic</h2>
        <%= image_tag "/image/Tic.jpg" %>
        <p>
          観光写真投稿型のWEBアプリケーション
          <br>プログラミング学習後、約2週間で作成
        </p>
        <%= link_to "GitHub","https://github.com/urayusuke/Tic",class:"production__list-link2" %>
        <%= link_to "Tic","https://tic20.herokuapp.com/",class:"production__list-link3" %>
      </li>
      <li>
        <h2>FURIMA</h2>
        <%= image_tag "/image/furima_top.jpg" %>
        <p>
          FURIMAサイト
          <br>初めてのチーム開発で作成
          <br>【ID/Pass】
          <br>ID: admin
          <br>Pass: 7676b
        </p>
        <%= link_to "GitHub","https://github.com/urayusuke/fleamarket_sample_76b",class:"production__list-link4" %>
        <%= link_to "FURIMA","http://54.95.199.71/",class:"production__list-link5" %>
      </li>
    </ul>
    <ul>
      <li>
        <h2>ChatSpace</h2>
        <%= image_tag "/image/chatspace.png" %>
        <p>
          チャット式のWEBアプリケーション
          <br>個人で初めて作成
        </p>
        <%= link_to "GitHub", "https://github.com/urayusuke/chat-space",class:"production__list-link6" %>
      </li>
      <li>
        <h2>3年目 SINGINGTREE</h2>
        <video src="/video/80300093_159903481904428_5129609011752913656_n.mp4" loop autoplay muted></video>
        <p>
          【あすたむらんど徳島】勤務3年目の作品
          <br>初のRGB化を達成
        </p>
      </li>
      <li>
        <h2>2年目 SINGINGTREE</h2>
        <video src="/video/sUzAN5f9ug6CDfLV.mp4" loop autoplay muted></video>
        <p>
          【あすたむらんど徳島】勤務2年目の作品
          <br>初めて音楽連動のプログラムを作成
        </p>
      </li>
    </ul>
  </div>
</div>

<div class = "skill">
  <div class = "skill__bar">
    <h1>スキル</h1>
  </div>
    <canvas id="myChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Illustrator", "Photoshop","Light-O-Rama","HTML5", "CSS", "Ruby", "Ruby on Rails", "JavaScript","PHP","Java"],
        datasets: [{
            label: "学習時間",
            data: [600, 200, 800, 600, 600, 600, 600, 500, 10, 10],
            backgroundColor: 'blue',
            borderColor: 'blue',
          }]
        },
      options:{
      legend: {
        labels: {
          fontColor: 'white',
          fontSize:20
        }
      },
      layout: {
        padding:{
                left:45,
                right:45,
                top:50,
                bottom:60
              }
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 1000,
            suggestedMin: 0,
            fontColor: 'white',
            fontSize: 15,
            padding: 10,
            callback: function(value, index, values){
              return  value +  ' 時間'
            }
          }
        }],
        xAxes: [{
          ticks: {
            fontColor: 'white',
            fontSize: 18
          }
        }]
      }
    }
      });
    </script>

</div>

<div class = "footer">
  <h2>YusukePortfolio</h2>
</div>